<body class="home" id="">
<%= render 'layouts/navbar' %>
<div class="jumbo">
<div class="row">
<div class="large-12 columns">
<div class="jumbo__header">
Learn to code.
</div>
<div class="jumbo__subheader">
Learn to code and build something amazing with easy to follow tutorials
</div>
</div>
</div>
<a href="https://www.codecourse.com/library/lessons" class="button button--cta button--center button--huge-spacing">Browse the library&nbsp; <i class="fa fa-arrow-right"></i></a>
</div>
<div class="main-content">
<div class="centerHeader">
The latest from the library
</div>
<div class="row">
<div class="large-12 columns">
<div class="row">
<div class="large-4 columns end">
<div class="library-item library-item--fixed-height">
<div class="library-item__content">
<h2 class="library-item__title">
<a href="https://www.codecourse.com/library/lessons/laravel-events-and-listeners">Laravel Events and Listeners</a>
</h2>
<p>Tidying up controllers and giving us small, single responsibility classes with events and listeners in Laravel.</p>
<div class="library-item__subjects">
<span class="tag">PHP</span>
<span class="tag">Laravel</span>
</div>
</div>
<footer class="library-item__footer clearfix">
<div class="list-inline">
<div class="list-inline__item">
<i class="fa fa-tasks"></i> 3 parts
</div>
<div class="list-inline__item">
<i class="fa fa-clock-o"></i> 28 minutes
</div>
<div class="list-inline__item">
<i class="fa fa-calendar-o"></i> 2 days ago
</div>
</div>
</footer>
</div>
</div>
<div class="large-4 columns end">
<div class="library-item library-item--fixed-height">
<div class="library-item__content">
<h2 class="library-item__title">
<a href="https://www.codecourse.com/library/lessons/slim-3-authentication">Authentication with Slim 3</a>
</h2>
<p>The perfect start to an application that requires authentication. Learn Slim 3, and in the process build the foundations...</p>
<div class="library-item__subjects">
<span class="tag">Slim</span>
<span class="tag">PHP</span>
</div>
</div>
<footer class="library-item__footer clearfix">
<div class="list-inline">
<div class="list-inline__item">
<i class="fa fa-tasks"></i> 29 parts
</div>
<div class="list-inline__item">
<i class="fa fa-clock-o"></i> 2 hours
</div>
<div class="list-inline__item">
<i class="fa fa-calendar-o"></i> 6 days ago
</div>
</div>
</footer>
</div>
</div>
<div class="large-4 columns end">
<div class="library-item library-item--fixed-height">
<div class="library-item__content">
<h2 class="library-item__title">
<a href="https://www.codecourse.com/library/lessons/uploading-video-with-clipchamp">Uploading video with Clipchamp</a>
</h2>
<p>Using Clipchamp to compress and upload videos, all within the browser. Plus, we build a video sharing website!</p>
<div class="library-item__subjects">
<span class="tag">PHP</span>
<span class="tag">JavaScript</span>
<span class="tag">Slim</span>
</div>
</div>
<footer class="library-item__footer clearfix">
<div class="list-inline">
<div class="list-inline__item">
<i class="fa fa-tasks"></i> 11 parts
</div>
<div class="list-inline__item">
<i class="fa fa-clock-o"></i> 1 hour
</div>
<div class="list-inline__item">
<i class="fa fa-calendar-o"></i> 1 week ago
</div>
</div>
</footer>
</div>
</div>
</div>
<div class="row">
<div class="large-4 columns end">
<div class="library-item library-item--fixed-height">
<div class="library-item__content">
<h2 class="library-item__title">
<a href="https://www.codecourse.com/library/lessons/slim-3-controllers-dependency-injection">Controllers and Dependency Injection with Slim 3</a>
</h2>
<p>Add a touch of class to your Slim 3 applications with controllers and dependency injection.</p>
<div class="library-item__subjects">
<span class="tag">Slim</span>
<span class="tag">PHP</span>
</div>
</div>
<footer class="library-item__footer clearfix">
<div class="list-inline">
<div class="list-inline__item">
<i class="fa fa-tasks"></i> 4 parts
</div>
<div class="list-inline__item">
<i class="fa fa-clock-o"></i> 34 minutes
</div>
<div class="list-inline__item">
<i class="fa fa-calendar-o"></i> 2 weeks ago
</div>
</div>
</footer>
</div>
</div>
<div class="large-4 columns end">
<div class="library-item library-item--fixed-height">
<div class="library-item__content">
<h2 class="library-item__title">
<a href="https://www.codecourse.com/library/lessons/slim-3-custom-404-views">Custom 404 views with Slim 3</a>
</h2>
<p>Dive into how missing routes are handled, and then build your own handler, rendering a view in place of Slim&#039;s default r...</p>
<div class="library-item__subjects">
<span class="tag">Slim</span>
<span class="tag">PHP</span>
<span class="tag">Slim</span>
</div>
</div>
<footer class="library-item__footer clearfix">
<div class="list-inline">
<div class="list-inline__item">
<i class="fa fa-tasks"></i> 1 part
</div>
<div class="list-inline__item">
<i class="fa fa-clock-o"></i> 8 minutes
</div>
<div class="list-inline__item">
<i class="fa fa-calendar-o"></i> 2 weeks ago
</div>
</div>
</footer>
</div>
</div>
<div class="large-4 columns end">
<div class="library-item library-item--fixed-height">
<div class="library-item__content">
<h2 class="library-item__title">
<a href="https://www.codecourse.com/library/lessons/design-patterns-specification">Design Patterns: Specification Pattern</a>
</h2>
<p>The specification pattern encapsulates business logic in it&#039;s own class. Sounds complicated, but let&#039;s see how easy it i...</p>
<div class="library-item__subjects">
<span class="tag">PHP</span>
<span class="tag">Design patterns</span>
</div>
</div>
<footer class="library-item__footer clearfix">
<div class="list-inline">
<div class="list-inline__item">
<i class="fa fa-tasks"></i> 2 parts
</div>
<div class="list-inline__item">
<i class="fa fa-clock-o"></i> 24 minutes
</div>
<div class="list-inline__item">
<i class="fa fa-calendar-o"></i> 2 weeks ago
</div>
</div>
</footer>
</div>
</div>
</div>
<div class="row">
</div>
</div>
</div>
</div>
<div class="testimonials">
<div class="testimonials__header">
What people are saying
</div>
<div class="row">
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">If you are not a Codecourse member, what are you doing?</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/dariusz.jpeg" alt="Dariusz Czajkowski">
<div class="testimonial__name">Dariusz Czajkowski</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">I had no real development experience before starting Codecourse, but I have progressed hugely in the 6 months that I've been a member.</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/alastairbudge.jpg" alt="Alastair Budge">
<div class="testimonial__name">Alastair Budge</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">Codecourse takes you on a journey at every level from novice to expert!</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/tony.jpg" alt="Tony Petroski">
<div class="testimonial__name">Tony Petroski</div>
</div>
</div>
</div>
<div class="row">
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">You only need to watch a few videos to become hooked and advance your knowledge of any specific language.</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/zaknesler.jpeg" alt="Zak Nesler">
<div class="testimonial__name">Zak Nesler</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">Codecourse helped me to cross the bridge that I'm really scared of, by making really hard stuff a lot easier and clearer!</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/hilmanramadhan.png" alt="Hilman Ramadhan">
<div class="testimonial__name">Hilman Ramadhan</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">Alex is an amazing teacher! Providing amazing tutorials for anyone, from beginner to master. Codecourse is a must have resource for any web developer!</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/joshbruce.jpeg" alt="Josh Bruce">
<div class="testimonial__name">Josh Bruce</div>
</div>
</div>
</div>
<div class="row">
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">Codecourse is the best website for learning code. Actually, Codecourse changed my life. Thank you, keep on teaching :)</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/kamyab.jpg" alt="Kam Yab">
<div class="testimonial__name">Kam Yab</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">I used to struggle to find up-to-date tutorials on the latest technologies. Codecourse is now my go to resource.</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/samberry.jpg" alt="Sam Berry">
<div class="testimonial__name">Sam Berry</div>
</div>
</div>
<div class="large-4 columns">
<div class="testimonial">
<p class="testimonial__text">I'm actually just a cat.</p>
<img class="testimonial__image" src="https://s3.amazonaws.com/s3.codecourse.com/public/img/testimonials/mabel.jpg" alt="Mabel">
<div class="testimonial__name">Mabel</div>
</div>
</div>
</div>
<a href="https://www.codecourse.com/auth/signup" class="button button--cta button--center button--top-spacing">Sign up for free</a>
</div>
<%= render 'layouts/footer' %>
</body>