<body class="premium-ob" id="">
<div class="wrapper">
<div class="main-content clearfix">
<div class="row back-link">
<div class="large-12 columns">
<%= link_to library_index_path do %>
  <i class="fa fa-arrow-left"></i> Library
<% end %>
</div>
</div>
<div class="row">
<div class="large-6 columns">
<h3 class="header">Unlimited access to Owlcasts.</h3>
<ul class="list-plain benefits">
<li class="list-plain__item"><i class="fa fa-check"></i> Stream premium videos</li>
<li class="list-plain__item"><i class="fa fa-check"></i> Download all videos</li>
<li class="list-plain__item"><i class="fa fa-check"></i> Download full working source code</li>
<li class="list-plain__item"><i class="fa fa-check"></i> Lifetime Access.</li>
</ul>
<p class="muted">Any questions? We're here to help. <a href="mailto:rahul.lakhaney@gmail.com">Get in touch</a>.</p>
</div>
<div class="large-6 columns">
<div class="row">
<div class="large-6 columns">
<a href="https://www.codecourse.com/premium/join?plan=monthly">
<ul class="pricing-table">
<li class="pricing-table__title">No Monthly Fee</li>
<li class="pricing-table__price">$1/library</li>
<li class="pricing-table__description">For libraries with upto 10 lessons</li>

</ul>
</a>
</div>
<div class="large-6 columns">
<a href="https://www.codecourse.com/premium/join?plan=yearly">
<ul class="pricing-table">
<li class="pricing-table__title">No Monthly Fee</li>
<li class="pricing-table__price">$2/library</li>
<li class="pricing-table__description">For libraries with more than 10 lessons.</li>

</ul>
</a>
</div>
</div>
</div>
</div>
</div>
</div>
<footer class="main clearfix">
<div class="row">
<div class="large-5 medium-6 columns">
<div class="row">
<div class="large-8 columns">
<h5 class="footer-header">codecourse</h5>
<div class="footer-about">
<p>Our goal is your goal. We want you to learn web development in your own way by providing content that inspires you.</p>
<p>2016 Codecourse Ltd.</p>
</div>
</div>
<div class="large-4 columns"></div>
</div>
</div>
<div class="large-7 columns">
<div class="row">
<div class="large-4 medium-4 columns">
<h6 class="footer-header">Explore</h6>
<ul class="list-plain">
<li class="list-plain__item"><a href="https://www.codecourse.com/library">Library</a></li>
<li class="list-plain__item"><a href="https://www.codecourse.com/forum">Community</a></li>
<li class="list-plain__item"><a href="https://www.codecourse.com/premium">Premium membership</a></li>
<li class="list-plain__item"><a href="http://youtube.com/codecourse" target="_blank">YouTube channel</a></li>
</ul>
</div>
<div class="large-4 medium-4 columns">
<h6 class="footer-header">Company</h6>
<ul class="list-plain">
<li class="list-plain__item"><a href="https://www.codecourse.com/privacy">Privacy policy</a></li>
<li class="list-plain__item"><a href="https://www.codecourse.com/terms">Terms</a></li>
<li class="list-plain__item"><a href="https://www.codecourse.com/contact">Contact us</a></li>
</ul>
</div>
<div class="large-4 medium-4 columns">
<h6 class="footer-header">Resources</h6>
<ul class="list-plain">
<li class="list-plain__item"><a href="https://m.do.co/c/01b1e401a9fa" target="_blank">Hosting</a></li>
</ul>
<h6 class="footer-header">Social</h6>
<div class="social-buttons">
<a href="http://www.twitter.com/phpacademy" target="_blank" class="social-buttons__button social-buttons__button--twitter">
<i class="fa fa-twitter-square social-buttons__icon"></i>
</a>
<a href="http://www.facebook.com/learnwebdev" target="_blank" class="social-buttons__button social-buttons__button--facebook">
<i class="fa fa-facebook-square social-buttons__icon"></i>
</a>
<a href="https://plus.google.com/+codecourse" target="_blank" class="social-buttons__button social-buttons__button--google">
<i class="fa fa-google-plus-square social-buttons__icon"></i>
</a>
<a href="http://youtube.com/codecourse" target="_blank" class="social-buttons__button social-buttons__button--youtube">
<i class="fa fa-youtube-square social-buttons__icon"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</footer>
</body>