<footer class="main clearfix">
<div class="row">
<div class="large-5 medium-6 columns">
<div class="row">
<div class="large-8 columns">
<h5 class="footer-header">owlcasts</h5>
<div class="footer-about">
<p>Our goal is your goal. We want you to learn web development in your own way by providing content that inspires you.</p>
<p>Made with <i class="fa fa-heart-o" aria-hidden="true"></i> in New Delhi.</p>
</div>
</div>
<div class="large-4 columns"></div>
</div>
</div>
<div class="large-7 columns">
<div class="row">
<div class="large-4 medium-4 columns">
<h6 class="footer-header">Explore</h6>
<ul class="list-plain">
<li class="list-plain__item"><a href="https://www.codecourse.com/library">Library</a></li>
<li class="list-plain__item"><a href="https://www.codecourse.com/forum">Community</a></li>
<li class="list-plain__item"><a href="https://www.codecourse.com/premium">Premium membership</a></li>
<li class="list-plain__item"><a href="http://youtube.com/codecourse" target="_blank">YouTube channel</a></li>
</ul>
</div>
<div class="large-4 medium-4 columns">
<h6 class="footer-header">Company</h6>
<ul class="list-plain">
<li class="list-plain__item"><a href="https://www.codecourse.com/privacy">Privacy policy</a></li>
<li class="list-plain__item"><a href="https://www.codecourse.com/terms">Terms</a></li>
<li class="list-plain__item"><a href="https://www.codecourse.com/contact">Contact us</a></li>
</ul>
</div>
<div class="large-4 medium-4 columns">
<h6 class="footer-header">Resources</h6>
<ul class="list-plain">
<li class="list-plain__item"><a href="https://m.do.co/c/01b1e401a9fa" target="_blank">Hosting</a></li>
</ul>
<h6 class="footer-header">Social</h6>
<div class="social-buttons">
<a href="http://www.twitter.com/phpacademy" target="_blank" class="social-buttons__button social-buttons__button--twitter">
<i class="fa fa-twitter-square social-buttons__icon"></i>
</a>
<a href="http://www.facebook.com/learnwebdev" target="_blank" class="social-buttons__button social-buttons__button--facebook">
<i class="fa fa-facebook-square social-buttons__icon"></i>
</a>
<a href="https://plus.google.com/+codecourse" target="_blank" class="social-buttons__button social-buttons__button--google">
<i class="fa fa-google-plus-square social-buttons__icon"></i>
</a>
<a href="http://youtube.com/codecourse" target="_blank" class="social-buttons__button social-buttons__button--youtube">
<i class="fa fa-youtube-square social-buttons__icon"></i>
</a>
</div>
</div>
</div>
</div>
</div>
</footer>