<!DOCTYPE html>
<html>
<head>
  <title>Myunicasts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
<script src="//load.sumome.com/" data-sumo-site-id="6f51ca82da7fd358622a6154108ebe92ed0b80c9a5e1e9d7f7ad7dbafa6c7532" async="async"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
<%= yield %>
</body>

</html>
